td
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight: bold;
	font-style: normal;
	color: #192C1A;
	background-attachment: scroll;
	background-repeat: repeat;
	background-position: left bottom;
}

body
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	font-weight: normal;
	color: black;
	scrollbar-base-color: #192C1A;
	background-repeat: repeat;
}

.titre{
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	font-weight: bold;
	color: 28773B;
}

.legende{
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	font-weight: bold;
	color: 6B4F4D;
}
a:hover {
color: #192C1A;
text-decoration: underline;
}

a { 
color: #192C1A;
text-decoration: none;
}
.jaune {
	color: #FCD500;
}
.rouge {
	color: #D41106;
}
table {
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: left top;
}
.petit {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;

}
.form {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #28773B;
	background-color: #D7C8C7;
	border: 1px solid #6B4F4D;
}
.blanc {

	color: #FFFFFF;
}
.imborder {
	border: 1px solid #FFFFFF;
}

.haut{
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	font-weight: bold;
	color: 6B4F4D;
	text-align: right;

}
.soustitre {
	font: bold 18px Arial, Helvetica, sans-serif;
	color: #336633;
}
.textealacon {
	font: bold 10px Arial, Helvetica, sans-serif;
	color: #000000;
}
.textealacon:first-line {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #669966;
}
.FORULAIRE {
	font: 11px Arial, Helvetica, sans-serif;
	color: #192C1A;
	background: #F8E4C9;
	border: 1px solid #669966;
}
.texte {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.cyc {
	display: none;
}